<!DOCTYPE html>
<html lang="zh-CN", height=100%>
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/china.js"></script>
    <link href="../static/css/china_map.css" rel="stylesheet"/>
</head>
<body>
    <div id="map">地图</div>
    <script src="../static/js/ec_map.js"></script>
    <script src="../static/js/controller.js"></script>
</body>
</html>